//                               █         █    █            ▄▄▄▀▀▀▀▀▀▄▄▄        █▀▀▀▀▀▀▀▀▀▀█
//                               █        █     █          ▄▀            ▀▄      █          █
//                               █       █      █        ▄▀                ▀▄    █          █
//                               █      █       █        █                  █    █          █
//                               █     █        █       █                    █   █          █
//                               █    █         █       █                    █   █▄▄▄▄▄▄▄▄▄▄█
//                               █   █ █        █       █                    █   █      █
//                               █  █   █       █        █                  █    █       █
//                               █ █     █      █        ▀▄                ▄▀    █        █
//                               ██       █     █          ▀▄            ▄▀      █         █
//                               █         █    █▄▄▄▄▄▄▄▄    ▀▀▀▄▄▄▄▄▄▀▀▀        █          █
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE   0
#define NAV    1
#define MOUSE  2
#define GAMING 3
#define GAMING2 4
#define GAMING3 5
#define NUMBER 6
#define SYMBOL 7
#define HOMELEFT 8
#define HOMERIGHT 9
#define FUNCTION 10
#define SYSTEM 11
#define BASE_MAC 12
#define HOMELEFT_MAC 13
#define HOMERIGHT_MAC 14
#define B0     BT_SEL 0
#define B1     BT_SEL 1
#define B2     BT_SEL 2
#define B3     BT_SEL 3
#define B4     BT_SEL 4
#define B5     BT_SEL 5
#define OTGL   out OUT_TOG
#define BT_C   BT_CLR
#define BT_C_A BT_CLR_ALL

/ {
    behaviors {
        // Tap dance: single tap = NAV layer, double tap = MOUSE layer

        td_nav_mouse: td_nav_mouse {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo NAV>, <&mo MOUSE>;
        };

        // Tap dance: single tap = NUMBER layer, double tap = SYMBOL layer

        td_num_sym: td_num_sym {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo NUMBER>, <&mo SYMBOL>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 0>;
            bindings = <&kp ESC>;
        };

        reset_layers {
            bindings = <&to 0>;
            key-positions = <32 33>;
            require-prior-idle-ms = <100>;
        };

        quote {
            bindings = <&kp SQT>;
            key-positions = <17 18>;
        };

        dash {
            bindings = <&kp MINUS>;
            key-positions = <25 26>;
        };

        system_layer {
            bindings = <&to 11>;
            key-positions = <32 20>;
        };

        activate_gaming {
            bindings = <&to 3>;
            key-positions = <1 2 3 32>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
            layers = <0>;
        };

        Grave {
            bindings = <&kp GRAVE>;
            key-positions = <23 24>;
            layers = <0>;
        };
    };

    macros {
        delete: delete {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LS(BACKSPACE)>;

            label = "DELETE";
        };

        alt_tab: alt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LALT>;

            label = "ALT_TAB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┌───────────────────────────────────────────────────────────┐

            label = "BASE";

            // └───────────────────────────────────────────────────────────┘

            bindings = <
        &kp Q     &kp W  &kp E          &kp R         &kp T        &kp Y      &kp U          &kp I      &kp O    &kp P
        &kp A     &kp S  &kp D          &kp F         &kp G        &kp H      &kp J          &kp K      &kp L    &kp SEMI
&trans  &kp Z     &kp X  &kp C          &kp V         &lt 10 B     &kp N      &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp SQT
                         &td_nav_mouse  &mo HOMELEFT  &kp SPACE    &kp SPACE  &mo HOMERIGHT  &td_num_sym
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        nav_layer {
            label = "NAV";
            bindings = <
          &to MOUSE  &kp LEFT  &kp UP     &kp RIGHT  &kp PG_UP    &kp TAB    &kp LEFT  &kp UP    &kp RIGHT  &trans
&kp BSPC  &kp BSPC   &kp HOME  &kp DOWN   &kp END    &kp PG_DN    &kp PG_UP  &kp HOME  &kp DOWN  &kp END    &trans  &trans
&kp DEL   &trans     &trans    &kp LSHFT  &kp LALT   &kp TAB      &kp PG_DN  &trans    &trans    &trans     &trans  &trans
                               &to BASE   &trans     &trans       &trans     &trans    &to BASE
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        mouse_layer {
            label = "MOUSE";
            bindings = <
          &to NAV   &trans  &trans    &trans  &trans    &trans  &trans  &trans    &trans  &trans
&kp BSPC  &kp BSPC  &trans  &trans    &trans  &trans    &trans  &trans  &trans    &trans  &trans  &trans
&kp DEL   &trans    &trans  &trans    &trans  &trans    &trans  &trans  &trans    &trans  &trans  &trans
                            &to BASE  &trans  &trans    &trans  &trans  &to BASE
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        gaming_layer {
            label = "GAMING";
            bindings = <
             &mo GAMING2  &kp A  &kp W      &kp D      &kp E        &kp EQUAL            &kp N7  &kp N8  &kp N9  &trans
&mo GAMING3  &mo GAMING3  &kp Q  &kp S      &kp R      &kp F        &kp MINUS            &kp N4  &kp N5  &kp N6  &kp BSPC  &trans
&kp ESC      &kp TAB      &kp Z  &kp X      &kp C      &kp V        &kp DOT              &kp N1  &kp N2  &kp N3  &kp N0    &kp DEL
                                 &kp LCTRL  &kp LSHFT  &kp SPACE    &lt HOMERIGHT SPACE  &trans  &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        gaming2_layer {
            label = "GAMING2";
            bindings = <
          &mo GAMING  &kp A  &kp W      &kp D      &kp T        &kp EQUAL            &kp N7  &kp N8  &kp N9  &trans
&kp LALT  &kp LALT    &kp Q  &kp S      &kp R      &kp G        &kp MINUS            &kp N4  &kp N5  &kp N6  &kp BSPC  &trans
&kp ESC   &kp TAB     &kp Z  &kp X      &kp C      &kp B        &kp DOT              &kp N1  &kp N2  &kp N3  &kp N0    &kp DEL
                             &kp LCTRL  &kp LSHFT  &kp SPACE    &lt HOMERIGHT SPACE  &trans  &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        gaming3_layer {
            label = "GAMING3";
            bindings = <
            &kp LALT    &kp A  &kp W      &kp D      &kp N1       &kp EQUAL            &kp N7  &kp N8  &kp N9  &trans
&mo GAMING  &mo GAMING  &kp Q  &kp S      &kp R      &kp N2       &kp MINUS            &kp N4  &kp N5  &kp N6  &kp BSPC  &trans
&kp ESC     &kp TAB     &kp Z  &kp X      &kp C      &kp N3       &kp DOT              &kp N1  &kp N2  &kp N3  &kp N0    &kp DEL
                               &kp LCTRL  &kp LSHFT  &kp SPACE    &lt HOMERIGHT SPACE  &trans  &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        number_layer {
            label = "NUMBER";
            bindings = <
        &alt_tab  &trans  &trans  &kp LS(LBRC)  &kp LS(RBRC)    &kp EQUAL  &kp N7  &kp N8  &kp N9  &trans
&trans  &trans    &trans  &trans  &kp LBKT      &kp RBKT        &kp MINUS  &kp N4  &kp N5  &kp N6  &trans  &kp BACKSPACE
&trans  &trans    &trans  &trans  &kp LPAR      &kp RPAR        &kp DOT    &kp N1  &kp N2  &kp N3  &kp N0  &kp DEL
                          &trans  &trans        &trans          &trans     &trans  &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        symbol_layer {
            label = "SYMBOL";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp LS(EQUAL)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &to NUMBER
&trans  &trans  &trans  &trans  &trans  &trans    &kp LS(MINUS)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp BSPC    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LS(DOT)    &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N0)  &kp DEL
                        &trans  &trans  &trans    &trans         &trans      &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        homeleft_layer {
            label = "HOMELEFT";
            bindings = <
          &key_repeat  &kp TAB   &kp ESC    &kp DEL    &kp BSPC    &trans  &trans  &trans  &trans  &trans
&sk LGUI  &sk LGUI     &sk LALT  &sk LCTRL  &sk LSHFT  &kp RET     &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans       &trans    &trans     &trans     &trans      &trans  &trans  &trans  &trans  &trans  &trans
                                 &trans     &trans     &trans      &trans  &trans  &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        homeright_layer {
            label = "HOMERIGHT";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp BSPC  &kp DEL    &kp ESC    &kp TAB   &key_repeat
&trans  &trans  &trans  &trans  &trans  &trans    &kp RET   &sk LSHFT  &sk LCTRL  &sk LALT  &sk LGUI     &sk LGUI
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans     &trans    &trans       &trans
                        &trans  &trans  &trans    &trans    &trans     &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        function_layer {
            label = "FUNCTION";
            bindings = <
        &kp F9  &kp F10  &kp F11  &kp F12  &trans     &trans  &kp F7  &kp F8  &kp F9  &kp F12
&kp F5  &kp F5  &kp F6   &kp F7   &kp F8   &trans     &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &to 11     &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                         &trans   &trans   &trans     &trans  &trans  &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        system_layer {
            label = "SYSTEM";
            bindings = <
             &sys_reset   &bt BT_CLR  &out OUT_TOG  &to BASE_MAC  &to BASE       &trans  &kp F7  &kp F8  &kp F9  &kp F12
&bootloader  &bootloader  &bt BT_NXT  &bt BT_SEL 3  &bt BT_SEL 4  &trans         &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans       &trans       &bt BT_PRV  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2   &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                      &trans        &trans        &trans         &trans  &trans  &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_mac_layer {
            label = "BASE_MAC";
            bindings = <
        &kp Q     &kp W  &kp E          &kp R             &kp T        &kp Y      &kp U              &kp I        &kp O    &kp P
&trans  &kp A     &kp S  &kp D          &kp F             &kp G        &kp H      &kp J              &kp K        &kp L    &kp SEMI  &kp SQT
&trans  &kp Z     &kp X  &kp C          &kp V             &lt 10 B     &kp N      &kp M              &kp COMMA    &kp DOT  &kp FSLH  &kp BSLH
                         &td_nav_mouse  &mo HOMELEFT_MAC  &kp SPACE    &kp SPACE  &mo HOMERIGHT_MAC  &td_num_sym
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        homeleft_mac_layer {
            label = "HOMELEFT_MAC";
            bindings = <
           &key_repeat  &kp TAB   &kp ESC   &kp DEL    &kp BSPC    &trans  &trans  &trans  &trans  &trans
&sk LCTRL  &sk LCTRL    &sk LALT  &sk LGUI  &sk LSHFT  &kp RET     &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans       &trans    &trans    &trans     &trans      &trans  &trans  &trans  &trans  &trans  &trans
                                  &trans    &trans     &trans      &trans  &trans  &trans
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        homeright_mac_layer {
            label = "HOMERIGHT_MAC";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp BSPC  &kp DEL    &kp ESC   &kp TAB   &key_repeat
&trans  &trans  &trans  &trans  &trans  &trans    &kp RET   &sk LSHFT  &sk LGUI  &sk LALT  &sk LCTRL    &sk LCTRL
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans    &trans    &trans       &trans
                        &trans  &trans  &trans    &trans    &trans     &trans
            >;
        };
    };
};

