//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <dt-bindings/zmk/mouse.h>

// Set mouse movement speed before including pointing.h

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5
#define B0     BT_SEL 0
#define B1     BT_SEL 1
#define B2     BT_SEL 2
#define B3     BT_SEL 3
#define B4     BT_SEL 4
#define B5     BT_SEL 5
#define OTGL   out OUT_TOG
#define BT_C   BT_CLR
#define BT_C_A BT_CLR_ALL

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <135>;
    require-prior-idle-ms = <125>;
};

// Configure mouse movement for quick response with acceleration

/ {
    behaviors {
        // Empty behaviors section - removed home row mods
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 0>;
            bindings = <&kp ESC>;
        };

        reset_layers {
            bindings = <&to 0>;
            key-positions = <34 35>;
            require-prior-idle-ms = <100>;
        };

        to_gaming {
            bindings = <&to 3>;
            key-positions = <20 21>;
        };

        quote {
            bindings = <&kp SQT>;
            key-positions = <18 9>;
        };

        dash {
            bindings = <&kp MINUS>;
            key-positions = <25 26>;
        };

        system_layer {
            bindings = <&mo 8>;
            key-positions = <20 31 30>;
        };

        // Left hand modifiers with left space

        left_gui {
            bindings = <&kp LGUI>;
            key-positions = <10 34>;  // A + left space
            timeout-ms = <50>;
            layers = <0>;  // Only on base layer
        };

        left_alt {
            bindings = <&kp LALT>;
            key-positions = <11 34>;  // S + left space
            timeout-ms = <50>;
            layers = <0>;  // Only on base layer
        };

        left_ctrl {
            bindings = <&kp LCTRL>;
            key-positions = <12 34>;  // D + left space
            timeout-ms = <50>;
            layers = <0>;  // Only on base layer
        };

        left_shift {
            bindings = <&kp LSHFT>;
            key-positions = <13 34>;  // F + left space
            timeout-ms = <50>;
            layers = <0>;  // Only on base layer
        };

        // Right hand modifiers with right space

        right_shift {
            bindings = <&kp RSHFT>;
            key-positions = <16 35>;  // J + right space
            timeout-ms = <50>;
            layers = <0>;  // Only on base layer
        };

        right_ctrl {
            bindings = <&kp RCTRL>;
            key-positions = <17 35>;  // K + right space
            timeout-ms = <50>;
            layers = <0>;  // Only on base layer
        };

        right_alt {
            bindings = <&kp RALT>;
            key-positions = <18 35>;  // L + right space
            timeout-ms = <50>;
            layers = <0>;  // Only on base layer
        };

        right_gui {
            bindings = <&kp RGUI>;
            key-positions = <19 35>;  // ; + right space
            timeout-ms = <50>;
            layers = <0>;  // Only on base layer
        };

        activate-gaming {
            bindings = <&to 3>;
            key-positions = <1 2 3 34>;
            layers = <0>;
        };
    };

    macros {
        delete: delete {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LS(BACKSPACE)>;

            label = "DELETE";
        };

        alt_tab: alt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LALT>;

            label = "ALT_TAB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     S     ┃     D     ┃     F     ┃     G     ┃   ┃     H     ┃     J     ┃     K     ┃     L     ┃     ;     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
             &kp Q  &kp W  &kp E      &kp R             &kp T        &kp Y      &kp U      &kp I      &kp O    &kp P
             &kp A  &kp S  &kp D      &kp F             &kp G        &kp H      &kp J      &kp K      &kp L    &kp SEMI
&lt 7 GRAVE  &kp Z  &kp X  &kp C      &kp V             &kp B        &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                           &lt 5 TAB  &lt 6 LEFT_SHIFT  &kp SPACE    &kp SPACE  &lt 1 RET  &mo 5
            >;
        };

        nav {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp TAB    &kp LEFT  &kp UP    &kp RIGHT  &trans
        &trans  &trans  &trans  &trans  &trans    &kp PG_UP  &kp HOME  &kp DOWN  &kp END    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp PG_DN  &trans    &trans    &trans     &trans  &trans
                        &trans  &trans  &trans    &trans     &trans    &trans
            >;
        };

        mouse {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_RIGHT  &msc SCRL_RIGHT
        &trans  &trans  &trans  &trans  &trans    &msc SCRL_UP    &mkp MB1        &mmv MOVE_DOWN  &mkp MB2         &trans
&trans  &trans  &trans  &trans  &trans  &trans    &msc SCRL_DOWN  &mkp MB4        &mkp MB3        &mkp MB5         &trans           &trans
                        &trans  &trans  &trans    &trans          &trans          &trans
            >;
        };

        gaming {
            bindings = <
         &kp TAB   &kp A  &kp W      &kp D      &kp E     &kp EQUAL  &kp N7  &kp N8  &kp N9  &trans
         &kp LALT  &kp Q  &kp S      &kp R      &kp F     &kp MINUS  &kp N4  &kp N5  &kp N6  &kp BACKSPACE
&kp ESC  &mo 4     &kp Z  &kp X      &kp C      &kp G     &kp DOT    &kp N1  &kp N2  &kp N3  &kp N0         &delete
                          &kp LCTRL  &kp LSHFT  &trans    &trans     &trans  &trans
            >;
        };

        gaming_num {
            bindings = <
        &trans  &kp A   &kp W   &kp D   &kp N1    &trans  &trans  &trans  &trans  &trans
        &trans  &kp V   &kp S   &kp M   &kp N2    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp B   &kp N   &kp N3    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        symbol {
            bindings = <
        &alt_tab  &trans  &trans  &kp LS(LBRC)          &kp LS(RBRC)             &kp EQUAL  &kp N7  &kp N8  &kp N9  &kp UNDER
        &trans    &trans  &trans  &kp LBKT              &kp RBKT                 &kp MINUS  &kp N4  &kp N5  &kp N6  &kp BSPC
&trans  &trans    &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp DOT    &kp N1  &kp N2  &kp N3  &kp N0     &kp DEL
                          &trans  &trans                &trans                   &trans     &trans  &trans
            >;
        };

        symbol_shift {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp LS(AMPS)  &kp LS(STAR)   &kp LS(LPAR)   &kp LS(UNDER)  &trans
        &trans  &trans  &trans  &trans  &trans    &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(CARET)  &kp LS(PLUS)   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LS(EXCL)  &kp LS(AT)     &kp LS(POUND)  &trans         &trans  &trans
                        &trans  &trans  &trans    &trans        &trans         &kp LS(RPAR)
            >;
        };

        function {
            bindings = <
        &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &trans  &trans  &trans  &trans
        &kp F5  &kp F6   &kp F7   &kp F8   &trans    &trans  &trans  &trans  &trans  &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans    &trans  &trans  &trans  &trans  &trans  &trans
                         &trans   &trans   &trans    &trans  &trans  &trans
            >;
        };

        adjust_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "system";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃   RESET   ┃ BT CLEAR  ┃  OUT TOG  ┃           ┃           ┃   ┃           ┃    F7     ┃    F8     ┃    F9     ┃    F12    ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃ BOOTLOAD  ┃ BT NEXT   ┃           ┃           ┃           ┃   ┃           ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃ BT PREV   ┃           ┃           ┃           ┃   ┃           ┃    F1     ┃    F2     ┃    F3     ┃    F10    ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
        &sys_reset   &bt BT_CLR  &out OUT_TOG  &trans  &trans    &trans  &kp F7  &kp F8  &kp F9  &kp F12
        &bootloader  &bt BT_NXT  &trans        &trans  &trans    &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &trans       &bt BT_PRV  &trans        &trans  &trans    &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                 &trans        &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
